<h1>Blogs#new</h1>
<p>Find me in app/views/blogs/new.html.erb</p>

<%= content_tag :div, id: 'blog-form-vue', data: { blog: @blog.to_json() } do %>
  <BlogForm />
<% end %>

<style scoped>
label, input {
  display: block;
}

.error {
  margin: 5px 0px 10px 10px;
}

input[type="submit"] {
  margin: 10px;
}
</style>

<%= javascript_pack_tag 'blog' %>
<%#= stylesheet_pack_tag 'blog' %>
